
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand Name -->
    <a class="navbar-brand fw-bold" href="/">SheSync</a>

    <!-- Toggler button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <!-- <a class="nav-link" href="/dashboard">My Dashboard</a> -->
        <a class="nav-link" href="/calendar">Calendar</a>
        <a class="nav-link" href="/log-symptoms">Log Symptoms</a>
        <!-- <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/signup">Sign Up</a> -->
      </div>
    </div>
  </div>
</nav>
