<% layout("/layouts/boilerplate") %>

<div class="container text-center mt-5">
  <h2 class="text-danger"><%= title %></h2>
  <p class="lead"><%= message %></p>
  <a href="<%= redirectPath %>" class="btn btn-primary mt-4">Go Back</a>
</div>
